<div id="<%= dom_id ticket_type %>">
  <div>
    <strong>Title:</strong>
    <%= ticket_type.title %>
  </div>

  <div>
    <strong>Sla hours:</strong>
    <%= ticket_type.sla_hours %>
  </div>

</div>
