<% content_for :title, "Editing ticket type" %>

<h1>Editing ticket type</h1>

<%= render "form", ticket_type: @ticket_type %>

<br>

<div>
  <%= link_to "Show this ticket type", @ticket_type %> |
  <%= link_to "Back to ticket types", ticket_types_path %>
</div>
