<div id="<%= dom_id block %>">
  <div>
    <strong>Identification:</strong>
    <%= block.identification %>
  </div>

  <div>
    <strong>Floors count:</strong>
    <%= block.floors_count %>
  </div>

  <div>
    <strong>Apartments per floor:</strong>
    <%= block.apartments_per_floor %>
  </div>

</div>
